:root{
    --pirmary_color:rgba(220, 53, 69, 1);
    --secondary_color:rgba(70, 112, 145,1) ;
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    color:rgba(70, 112, 145,1)
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none !important;
}